<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- make sure generated page doesn't cache -->
    <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
    <meta http-equiv='Pragma' content='no-cache' />
    <meta http-equiv='Expires' content='0' />
</head>

<body>

    {{#each data}}
        {{#if before}}
            <img src="{{beforeImage}}" />
            <img src="{{afterImage}}" />
        {{else}}
            <img src="{{taskImage}}" />
        {{/if}}
    {{#each}}

</body>

</html>